ella-core:
  api:
    address: "http://127.0.0.1:5002"
    token: "ellacore_p7tCb1IjGGbj_rWT4tq6PJcF1p3r1deL6xyhn"
  n2-address: "192.168.40.6:38412"
  mcc: "001"
  mnc: "01"
  sst: 1
  sd: "102030"
  tac: "000001"
  dnn: "internet"
gnb:
  n2-address: "192.168.40.6"
  n3-address: "127.0.0.1"
subscriber:
  imsi: "001017271246546"
  key: "640f441067cd56f1474cbcacd7a0588f"
  opc: "cb698a2341629c3241ae01de9d89de4f"
  sqn: "000000000022"
  policy-name: "bbb"
