ella-core:
  api:
    address: "http://10.3.0.2:5002"
    token: "ellacore_p7tCb1IjGGbj_rWT4tq6PJcF1p3r1deL6xyhn"
  n2-address: "10.3.0.2:38412"
  mcc: "001"
  mnc: "01"
  sst: 1
  sd: "102030"
  tac: "000001"
  dnn: "internet"
gnb:
  n2-address: "192.168.40.6"
  n3-address: "127.0.0.1"
