name: Main workflow

permissions:
  contents: read
  packages: write

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  go-unit-test:
    uses: ./.github/workflows/go-unittest.yaml
  go-vet:
    uses: ./.github/workflows/go-vet.yaml
  go-lint:
    uses: ./.github/workflows/go-lint.yaml
  go-sec:
    uses: ./.github/workflows/go-sec.yaml
  go-build:
    uses: ./.github/workflows/go-build.yaml
  build-rock:
    uses: ./.github/workflows/build.yaml
  publish-rock:
    needs: build-rock
    if: github.ref_name == 'main'
    uses: ./.github/workflows/publish.yaml
  publish-rock-pr:
    needs: build-rock
    if: github.event_name == 'pull_request'
    uses: ./.github/workflows/publish-pr.yaml
